<div id="cover">
	<div id="profile" alt="<% if (theme.cover.enable) { %><%= theme.cover.url%><% } %>">
		<a href="<%-config.root%>">
			<div class="logo">
				<img src="<%-config.root%>logo.png" alt="Profile Picture">
			</div>
			<div id="title"><%-config.title%></div>
		</a>

		<% if (config.subtitle) {%>
			<div id="subtitle"><%- config.subtitle %></div>
		<% } %>
		<%- partial('_partial/social') %>
	</div>
</div>

<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<%- partial('_partial/pagination', {article: false}) %>

<%- js(['js/jquery.anystretch.min.js', 'js/cover.js']) %>
