<%- partial('_partial/head') %>
<body>
  <header id="header" class='normal_mode'>
    <%- partial('_partial/header') %>
  </header>
  <div id="content" class="container">
    <%- body %>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>