<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><i class="fa fa-<% if (page.tag){ %>tag<% } else if (page.category){ %>folder-open<% } else { %>archive<% }%>"></i><%= title %></h2>

<% page.posts.each(function(item){ %>
    <div class="archive">
	<article class="<%= item.layout%>"
		<header>
		  <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
		  <h1 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1>
		  <% if (!page.category) { 
		  	if (item.categories && item.categories.length){
			  var cats = [];
			  item.categories.forEach(function(cat){
			    cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
			  });
			  %>
			  <div class="categories">
			  	<i class="fa fa-folder-open"></i>
			    <%- cats.join(', ') %>
			  </div>
			<% } 
		  } 
		  if (!page.tag) {
			if (item.tags && item.tags.length){ 
			  var tags = [];
			  item.tags.forEach(function(tag){
			    tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
			  });
			  %>
			  <div class="tags">
			  	<i class="fa fa-tag"></i>
			    <%- tags.join(', ') %>
			  </div>
			<% } 
		  } %>


		</header>
	</article>
    </div>
<% }); %>
<%- partial('pagination', {article: false}) %>
