<div>
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>
Powered by <%- link_to('http://zespia.tw/hexo/', 'Hexo', true) %> and <%- link_to('http://pages.github.com/', 'GitHub Pages', true) %>

<div class="clearfix"></div>